<section>
    <div class="add-contact-form">
        <div class="form-header">
            <h2>Update Contact</h2>
        </div>
        <div class="form-container">
            <form action="/update-contact" method="post">
                <input type="hidden" id="id" name="id" value="<%= contact ? contact.id : '' %>" required>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="<%= contact ? contact.name : '' %>" required>
                </div>

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="phone" id="phone" name="phone" value="<%= contact ? contact.phone : '' %>" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="<%= contact ? contact.email : '' %>" required>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="address" id="address" name="address" value="<%= contact ? contact.address : '' %>" required>
                </div>

                <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <div class="alert alert-danger" role="alert">
                            <p><%= error.msg %></p>
                        </div>
                    <% }) %>
                <% } %>

                <button type="submit" class="submit-button">Update Contact</button>
                <a href="/contact" class="go-back">Go Back</a>
            </form>
        </div>
    </div>
</section>